@import 'init.css';
@custom-selector :--button button, .button;
@custom-selector :--enter :hover, :focus;

:--button {
  outline: none;
}
:--button:--enter {
  background: red;
}

:root {
  --toolbar-theme: {
    background-color: rebeccapurple;
    color: white;
    border: 1px solid green;
  };
}

.Toolbar {
  @apply --toolbar-theme;
}